In [1]:
import yfinance as yf

In [2]:
data = yf.download("MSFT", start="2017-01-01", end="2021-01-01")

[*********************100%***********************]  1 of 1 completed

In [5]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,62.790001,62.840000,62.130001,62.580002,58.538418,20694100
2017-01-04,62.480000,62.750000,62.119999,62.299999,58.276497,21340000
2017-01-05,62.189999,62.660000,62.029999,62.299999,58.276497,24876000
2017-01-06,62.299999,63.150002,62.040001,62.840000,58.781628,19922900
2017-01-09,62.759998,63.080002,62.540001,62.639999,58.594547,20382700
...,...,...,...,...,...,...
2020-12-24,221.419998,223.610001,221.199997,222.750000,222.238144,10550600
2020-12-28,224.449997,226.029999,223.020004,224.960007,224.443069,17933500
2020-12-29,226.309998,227.179993,223.580002,224.149994,223.634918,17403200
2020-12-30,225.229996,225.630005,221.470001,221.679993,221.170593,20272300
2020-12-31,221.699997,223.000000,219.679993,222.419998,221.908905,20942100

In [7]:
data.to_csv("../data/MSFT.csv")